@if $font_system == "960"
  +text

body
  @if $font_system == "blueprint"
    +blueprint-typography(true)

.region-sidebar-first, region-sidebar-second
  nav ul, ul.menu
    +reset-box-model
    +no-bullets

.messages
  ul
    padding-left: 5px
    li
      background: none
      padding-left: 0

div.messages
  +feedback-base

div.status
  +success

div.warning
  +notice

div.error
  +error
