@mixin hide-element-focusable
  position: absolute
  top: -9999px
  font-size: 0
  text-indent: -9999px

@mixin g ($cols, $last: false)
  @if $grid_system == "blueprint"
    +column($cols, $last)
  @if $grid_system == "960"
    +grid($cols)
    @if $last == true
      +omega

@mixin c
  @if $grid_system == "blueprint"
    +container
  @if $grid_system == "960"
    +grid-container

@mixin f
  @if $grid_system == "960"
    +alpha

@mixin l
  @if $grid_system == "blueprint"
    +last
  @if $grid_system == "960"
    +omega
