%article.feed-item
  %header
    %h2(href="#{$feed_url}")= $feed_title
  
  - if ($content)
    .content= $content
  
  %footer
    %p.meta
      - if ($source_url)
        %a.feed-item-source(href="#{$source_url}")= $source_title
      %time(datetime="#{$datetime}")= $source_date
    
    - if ($categories)
      %p.categories
        %strong= t('Categories')
         - 
        = implode(', ', $categories)