%aside.feed-source
  - if ($source_description)
    %header= $source_description

  = $source_icon
  = $source_image

  %footer
    %p.feed-url
      %strong= t('URL:')
      %a(href="#{$source_url}")= " " . $source_url
    %p.feed-updated
      %strong= t('Updated')
      = " " . $last_checked
