- if ($tree || $has_links)
  %footer.book-navigation(id="book-navigation-#{$book_id}")
    = $tree
    
    - if ($has_links)
      .page-links
        - if ($prev_url)
          %a.page-previous(href="#{$prev_url}" title="#{t('Go to previous page')}")
            = t('‹ ') . $prev_title
        - if ($parent_url)
          %a.page-up(href="#{$parent_url}" title="#{t('Go to parent page')}")
            = t('up')
        - if ($next_url)
          %a.page-next(href="#{$next_url}" title="#{t('Go to next page')}")
            = $next_title . t(' ›')