%article(class="#{$classes}")

  = $unpublished

  %header
    = render($title_prefix)
    - if ($title)
      %h3= $title
    = render($title_suffix)

    - if ($new)
      = $new

  - if ($picture || $submitted)
    %footer
      = $picture
      = t('Submitted by !username on !datetime', array('!username' => $author,'!datetime' => '<time pubdate="pubdate" datetime="' . $datetime . '">' . $created . '</time>' ))

  .content
    - hide($content['links'])
    = $content
    = $signature

  - if ($links = render($content['links']))
    %menu.comment-links= $links
