%section#comments(class="#{$classes}")
  = render($title_prefix)
  %h2= t('Comments')
  = render($title_suffix)

  = render($content['comments']))

  - if ($content['comment_form'])
    %h2= t('Add new comment')
    = render($content['comment_form'])
