!!! 5
<!--[if lt IE 7 ]> <html lang="#{$language->language}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="#{$language->language}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="#{$language->language}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="#{$language->language}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="#{$language->language}" class="no-js"> <!--<![endif]-->
  %head
    -# Always force latest IE rendering engine (even in intranet) & Chrome Frame
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")/
    
    %meta(charset="utf-8" )/
    
    -# Mobile viewport optimized: j.mp/bplateviewport
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")/
    
    -# %link(href="/favicon.ico" rel=shortcut icon")/
    -# %link(href="/apple-touch-icon.png" rel="apple-touch-icon")/
    = $head
    %title= $head_title
    = $styles, $scripts
    
  %body(class="#{$classes} no-js")
    #skip-link
      %a.element-invisible.element-focusable(href="#main-content")
        - print(t('Skip to main content'))
    = $page_top, $page, $page_bottom
    
    - if (theme_get_setting('haml_base5_dd_belatedpng') == TRUE)
      <!--[if lt IE 7 ]>
        <script src="#{drupal_get_path('theme', 'haml_base5');}/js/dd_belatedpng.js"></script>
        <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->

</html>
