%article.node.clear-block(id="article-#{$node->nid}" class="#{$node_classes}" role="article")
  
  = $unpublished
  
  %header
  - if ($title && !$page)
    = render($title_prefix)
    - if ($title)
      %h1
        %a(href="#{$node_url}" title="#{$title}" rel="bookmark")= $title
    = render($title_suffix)

  - if($display_submitted)
    %footer.submitted
      = $user_picture
      = $submitted
  
  .content
    - hide($content['comments'])
    - hide($content['links'])
    = render($content)

  - if ($links = render($content['links']))
    .node-links
      = render($content['links'])

  = render($content['comments'])
