#page
  %header#main-header(role='banner')
    - if ($logo)
      %a#logo(href="#{$front_page}" title="#{t('home')}" rel="home")
        %img(src="#{$logo}" alt="#{t('home')}")
    %hgroup
      - if ($site_name)
        %h1
          %a(href="#{$front_page}" title="#{t('home')}" rel="home")= $site_name
      - if ($site_slogan)
        %h2= $site_slogan

    = render($page['header'])
    = render($page['menu_bar'])

  = $messages
  = render($page['help'])

  - if ($highlighted = render($page['highlighted']))
    = $highlighted

  #main-wrapper
    - if ($sidebar_first = render($page['sidebar_first']))
      = $sidebar_first

    %section#main-content(role="main")
      = render($title_prefix)
      - if ($title)
        %h1#page-title= $title

      = render($title_suffix)

      - if ($tabs = render($tabs))
        .tabs= $tabs

      - if ($action_links = render($action_links))
        %ul.action-links= $action_links

      = render($page['content'])
      = $feed_icons

    - if ($sidebar_second = render($page['sidebar_second']))
      = $sidebar_second

  - if ($footer = render($page['footer']))
    %footer#main-footer(role="contentinfo")= $footer
